<div class="flexslider">
	<ul class="slides">
	{% assign post_count == 0 %}
	{% for post in site.posts %}
		{% unless post.slide == 'no' %}
         <li><a href="{{ post.permalink | relative_url }}">
		 		{% if post.image %}
		  		<img src="{{ '/assets/images/' | append: post.image | relative_url }}">
		 		{% endif %}
		  		<p class="title">{{ post.title }}</p>
				{% assign excerpt=post.excerpt | replace: '<strong>', '__strong~~' %}
				{% assign excerpt=excerpt | replace: '</strong>', '__/strong~~' %}
				{% assign excerpt=excerpt | replace: '<em>', '__em~~' %}
				{% assign excerpt=excerpt | replace: '</em>', '__/em~~' %}
				{% assign excerpt=excerpt | strip_html | replace: '__', '<' | replace: '~~', '>' %}
				<p>{{ excerpt }}</p>
		   </a></li>
	  	{% assign post_count = post_count | plus:1 %}
	  {% endunless %}
	  {% if post_count == 5 %}
  			{% break %}
	  {% endif %}
	{% endfor %}
	</ul>
</div>
<script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/flexslider/jquery.flexslider-min.js' | relative_url }}"></script>
<script>$(window).on('load', function() {
$('.flexslider').flexslider({
  animation: "slide",
  pauseOnHover: true,
  slideshowSpeed: 10000,
  animationSpeed: 1000
});
});</script>
