{% assign team-member = page.team-member | default: page.team-members[0] | default: site.team-member %}
{% assign team-member = site.data.team-members[team-member] | default: team-member %}

<div itemscope itemtype="http://schema.org/Person">

  {% if team-member.avatar %}
    <div class="team-member__avatar">
      {% if team-member.avatar contains "://" %}
        {% assign team-member_src = team-member.avatar %}
      {% else %}
        {% assign team-member_src = team-member.avatar | relative_url %}
      {% endif %}

      {% if .home %}
        {% if team-member.home contains "://" %}
          {% assign team-member_link = team-member.home %}
        {% else %}
          {% assign team-member_link = team-member.home | relative_url %}
        {% endif %}
        <a href="{{ team-member_link }}">
          <img src="{{ team-member_src }}" alt="{{ team-member.name }}" itemprop="image">
        </a>
      {% else %}
        <img src="{{ team-member_src }}" alt="{{ team-member.name }}" itemprop="image">
      {% endif %}
    </div>
  {% endif %}

  <div class="team-member__content">
    {% if team-member.home %}
      <a href="{{ team-member_link }}"><h3 class="team-member__name" itemprop="name">{{ team-member.name }}</h3></a>
    {% else %}
      <h3 class="team-member__name" itemprop="name">{{ team-member.name }}</h3>
    {% endif %}
    {% if team-member.bio %}
      <p class="team-member__bio" itemprop="description">
        {{ team-member.bio }}
      </p>
    {% endif %}
  </div>

  <div class="team-member__urls-wrapper">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
    <ul class="team-member__urls social-icons">
      {% if team-member.location %}
        <li itemprop="homeLocation" itemscope itemtype="http://schema.org/Place">
          <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name">{{ team-member.location }}</span>
        </li>
      {% endif %}

      {% if team-member.links %}
        {% for link in team-member.links %}
          {% if link.label and link.url %}
            <li><a href="{{ link.url }}" target="_blank" rel="noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if team-member.uri %}
        <li>
          <a href="{{ team-member.uri }}" itemprop="url">
            <i class="fas fa-fw fa-link" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].website_label | default: "Website" }}
          </a>
        </li>
      {% endif %}

      {% if team-member.email %}
        <li>
          <a href="mailto:{{ team-member.email }}">
            <meta itemprop="email" content="{{ team-member.email }}" />
            <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}
          </a>
        </li>
      {% endif %}

      {% if team-member.keybase %}
        <li>
          <a href="https://keybase.io/{{ team-member.keybase }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fas fa-fw fa-key" aria-hidden="true"></i> Keybase
          </a>
        </li>
      {% endif %}

      {% if team-member.twitter %}
        <li>
          <a href="https://twitter.com/{{ team-member.twitter }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter
          </a>
        </li>
      {% endif %}

      {% if team-member.facebook %}
        <li>
          <a href="https://www.facebook.com/{{ team-member.facebook }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook
          </a>
        </li>
      {% endif %}

      {% if team-member.google_plus %}
        <li>
          <a href="https://plus.google.com/{{ team-member.google_plus }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-google-plus-square" aria-hidden="true"></i> Google+
          </a>
        </li>
      {% endif %}

      {% if team-member.linkedin %}
        <li>
          <a href="https://www.linkedin.com/in/{{ team-member.linkedin }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn
          </a>
        </li>
      {% endif %}

      {% if team-member.xing %}
        <li>
          <a href="https://www.xing.com/profile/{{ team-member.xing }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-xing-square" aria-hidden="true"></i> XING
          </a>
        </li>
      {% endif %}

      {% if team-member.instagram %}
        <li>
          <a href="https://instagram.com/{{ team-member.instagram }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram
          </a>
        </li>
      {% endif %}

      {% if team-member.tumblr %}
        <li>
          <a href="https://{{ team-member.tumblr }}.tumblr.com" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i> Tumblr
          </a>
        </li>
      {% endif %}

      {% if team-member.bitbucket %}
        <li>
          <a href="https://bitbucket.org/{{ team-member.bitbucket }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket
          </a>
        </li>
      {% endif %}

      {% if team-member.github %}
        <li>
          <a href="https://github.com/{{ team-member.github }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub
          </a>
        </li>
      {% endif %}

      {% if team-member.gitlab %}
        <li>
          <a href="https://gitlab.com/{{ team-member.gitlab }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-gitlab" aria-hidden="true"></i> GitLab
          </a>
        </li>
      {% endif %}

      {% if team-member.stackoverflow %}
        <li>
          <a href="https://www.stackoverflow.com/users/{{ team-member.stackoverflow }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i> Stack Overflow
          </a>
        </li>
      {% endif %}

      {% if team-member.lastfm %}
        <li>
          <a href="https://last.fm/user/{{ team-member.lastfm }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i> Last.fm
          </a>
        </li>
      {% endif %}

      {% if team-member.dribbble %}
        <li>
          <a href="https://dribbble.com/{{ team-member.dribbble }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-dribbble" aria-hidden="true"></i> Dribbble
          </a>
        </li>
      {% endif %}

      {% if team-member.pinterest %}
        <li>
          <a href="https://www.pinterest.com/{{ team-member.pinterest }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-pinterest" aria-hidden="true"></i> Pinterest
          </a>
        </li>
      {% endif %}

      {% if team-member.foursquare %}
        <li>
          <a href="https://foursquare.com/{{ team-member.foursquare }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-foursquare" aria-hidden="true"></i> Foursquare
          </a>
        </li>
      {% endif %}

      {% if team-member.steam %}
        <li>
          <a href="https://steamcommunity.com/id/{{ team-member.steam }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-steam" aria-hidden="true"></i> Steam
          </a>
        </li>
      {% endif %}

      {% if team-member.youtube %}
        {% if team-member.youtube contains "://" %}
          <li>
            <a href="{{ team-member.youtube }}" itemprop="sameAs" rel="noopener noreferrer">
              <i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube
            </a>
          </li>
        {% else team-member.youtube %}
          <li>
            <a href="https://www.youtube.com/user/{{ team-member.youtube }}" itemprop="sameAs" rel="noopener noreferrer">
              <i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube
            </a>
          </li>
        {% endif %}
      {% endif %}

      {% if team-member.soundcloud %}
        <li>
          <a href="https://soundcloud.com/{{ team-member.soundcloud }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i> SoundCloud
          </a>
        </li>
      {% endif %}

      {% if team-member.weibo %}
        <li>
          <a href="https://www.weibo.com/{{ team-member.weibo }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-weibo" aria-hidden="true"></i> Weibo
          </a>
        </li>
      {% endif %}

      {% if team-member.flickr %}
        <li>
          <a href="https://www.flickr.com/{{ team-member.flickr }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-flickr" aria-hidden="true"></i> Flickr
          </a>
        </li>
      {% endif %}

      {% if team-member.codepen %}
        <li>
          <a href="https://codepen.io/{{ team-member.codepen }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-codepen" aria-hidden="true"></i> CodePen
          </a>
        </li>
      {% endif %}

      {% if team-member.vine %}
        <li>
          <a href="https://vine.co/u/{{ team-member.vine }}" itemprop="sameAs" rel="noopener noreferrer">
            <i class="fab fa-fw fa-vine" aria-hidden="true"></i> Vine
          </a>
        </li>
      {% endif %}

    </ul>
  </div>
</div>
